<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%# <%= link_to 'edit', edit_path(@restaurant) %>

<p><%= link_to 'view all restaurants', '/restaurants' %></p>
